body{
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    text-align: center;
}
h2{
    color: rgb(17, 5, 253);
    font-size: 25px;
    border-radius: 2px;
    background-color: aquamarine;
}

ul{
    text-align: center;
    background-color: darkcyan;
}

c1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.c1{
    background-color: aquamarine;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 50px;
    border-radius: 2px;
    color: rgb(211, 222, 10);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-image: url("ashok.jpg");
    background-size: 50px;
    background-attachment: fixed;
    background-position: center;
    /* color: do; */
}
h1{
    border: red 2px ridge;
    /* text-align: initial; */
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    padding-left: 20px;
    padding-bottom: 1000px;
    background-color: black;
    color: aquamarine;
    text-align: center;

}
div{
    width: 150px;
    height: 50px;
    /* position: center;
     */
     /* text-align: center; */
}
.pahla{
    /* color: aqua;
     */
     background-color: lightcoral;
     /* position: static; */
     position: relative;
     top: 90px;
     right: -10px;
}
.dusra{
    color: rgb(111, 4, 4);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: lime;
    /* position: static; */
    position: relative;
}
