h2{
    color: rgb(17, 5, 253);
    font-size: 25px;
    border-radius: 2px;
    background-color: aquamarine;
    
}

ul{
    text-align: center;
    background-color: darkcyan;
}

form{
    background-color: aqua;
    border-radius: 2px;
    
}